@model TeleconApp.Models.SplicerModel
    <style>
        .wrapper {
            position: relative;
            left: 10%; /*move the object to the center of the parent object*/
            top:50%;
            /*these 5 settings change the base (or registration) point of the wrapper object to it's own center - so we align child center with parent center*/
        }
    </style>
<div class="panel panel-body">
    <div class="row">
        <div class="panel panel-body col-md-3">
            @Html.Partial("/Views/Partials/_LeftMenu.cshtml")
        </div>
        <div class="col-md-9">
            <form class="form-horizontal" action="/Splicer/Save">
                <label>Basic Info</label>
                <div class="panel panel-group panel-info">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="Id">Employment Id:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="Id" placeholder="Enter Employment Id" name="Id">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="TechName">Tech Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="TechName" placeholder="Enter Tech Name" name="TechName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="ForemanName">Foreman Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ForemanName" placeholder="Foreman Name" name="ForemanName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="LeadName">Lead Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="LeadName" placeholder="Lead Name" name="LeadName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="PlateNumber">Vehicle/Truck ID:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="PlateNumber" placeholder="Foreman Name" name="PlateNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label>Today Job Done</label>
                <div class="panel panel-group panel-info">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="Date">Date:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="Date" placeholder="" name="Date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="time">Time:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="Time" placeholder="" name="Time">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="BellNetworkNumber">Bell Network#:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="BellNetworkNumber" placeholder="Bell Network#" name="BellNetworkNumber">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="PartnersName">Partner(s) Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="PartnersName" placeholder="Partner(s) Name" name="PartnersName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label>Preparation</label>
                <div class="panel panel-group panel-info">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="EnclosureName">Prepped Enclosure:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="EnclosureName" placeholder="Prepped Enclosure" name="EnclosureName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="time">ARB:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ARB" placeholder="ARB" name="ARB">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="time">Enter Cable Id Done (eg, AO,BA, D2)  then  select relevant item:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group wrapper">
                                <table class="col-sm-11" style="text-align:center">
                                    <tr>
                                        <th>No</th>
                                        <th>Cable Id</th>
                                        <th>No of Fibres</th>
                                        <th>Prepped</th>
                                        <th>De-Rebonized</th>
                                        <th>Spliced Ribbon</th>
                                        <th>Spliced Single</th>
                                        <th>Missing</th>
                                    </tr>
                                    <tr>
                                        <td width="20"><label>1</label></td>
                                        <td><input type="text" class="form-control" id="SplicerCable1" name="SplicerCable1"></td>
                                        <td width="50"><input maxlength="5" type="text" class="form-control" id="SplicerNoFibre1" name="SplicerNoFibre1"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerPrepped1" name="SplicerPrepped1"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerDeRebonized1" name="SplicerDeRebonized1"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerRibbon1" name="SplicerRibbon1"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerSingle1" name="SplicerSingle1"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerMissing1" name="SplicerMissing1"></td>
                                    </tr>
                                    <tr>
                                        <td><label>2</label></td>
                                        <td><input type="text" class="form-control" id="SplicerCable2" name="SplicerCable2"></td>
                                        <td width="50"><input maxlength="5" type="text" class="form-control" id="SplicerNoFibre2" name="SplicerNoFibre2"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerPrepped2" name="SplicerPrepped2"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerDeRebonized2" name="SplicerDeRebonized2"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerRibbon2" name="SplicerRibbon2"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerSingle2" name="SplicerSingle2"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerMissing2" name="SplicerMissing2"></td>
                                    </tr>
                                    <tr>
                                        <td><label>3</label></td>
                                        <td><input type="text" class="form-control" id="SplicerCable3" name="SplicerCable3"></td>
                                        <td width="50"><input maxlength="5" type="text" class="form-control" id="SplicerNoFibre3" name="SplicerNoFibre3"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerPrepped3" name="SplicerPrepped3"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerDeRebonized3" name="SplicerDeRebonized3"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerRibbon3" name="SplicerRibbon3"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerSingle3" name="SplicerSingle3"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerMissing3" name="SplicerMissing3"></td>
                                    </tr>
                                    <tr>
                                        <td><label>4</label></td>
                                        <td><input type="text" class="form-control" id="SplicerCable4" name="SplicerCable4"></td>
                                        <td width="50"><input maxlength="5" type="text" class="form-control" id="SplicerNoFibre4" name="SplicerNoFibre4"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerPrepped4" name="SplicerPrepped4"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerDeRebonized4" name="SplicerDeRebonized4"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerRibbon4" name="SplicerRibbon4"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerSingle4" name="SplicerSingle4"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerMissing4" name="SplicerMissing4"></td>
                                    </tr>
                                    <tr>
                                        <td><label>5</label></td>
                                        <td><input type="text" class="form-control" id="SplicerCable5" name="SplicerCable5"></td>
                                        <td width="50"><input maxlength="5" type="text" class="form-control" id="SplicerNoFibre5" name="SplicerNoFibre5"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerPrepped5" name="SplicerPrepped5"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerDeRebonized5" name="SplicerDeRebonized5"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerRibbon5" name="SplicerRibbon5"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerSingle5" name="SplicerSingle5"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerMissing5" name="SplicerMissing5"></td>
                                    </tr>
                                    <tr>
                                        <td><label>6</label></td>
                                        <td><input type="text" class="form-control" id="SplicerCable6" name="SplicerCable6"></td>
                                        <td width="50"><input maxlength="5" type="text" class="form-control" id="SplicerNoFibre6" name="SplicerNoFibre6"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerPrepped6" name="SplicerPrepped6"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerDeRebonized6" name="SplicerDeRebonized6"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerRibbon6" name="SplicerRibbon6"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerSingle6" name="SplicerSingle6"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerMissing6" name="SplicerMissing6"></td>
                                    </tr>
                                    <tr>
                                        <td><label>7</label></td>
                                        <td><input type="text" class="form-control" id="SplicerCable7" name="SplicerCable7"></td>
                                        <td width="50"><input maxlength="5" type="text" class="form-control" id="SplicerNoFibre7" name="SplicerNoFibre7"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerPrepped7" name="SplicerPrepped7"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerDeRebonized7" name="SplicerDeRebonized7"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerRibbon7" name="SplicerRibbon7"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerSingle7" name="SplicerSingle7"></td>
                                        <td><input type="checkbox" class="form-control" id="SplicerMissing7" name="SplicerMissing7"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

