@model TeleconApp.Models.SplicerModel
    <style>
        .wrapper {
            position: relative;
            left: 10%; /*move the object to the center of the parent object*/
            top:50%;
            /*these 5 settings change the base (or registration) point of the wrapper object to it's own center - so we align child center with parent center*/
        }
    </style>
<div class="panel panel-body">
    <div class="row">
        <div class="panel panel-body col-md-3">
            @Html.Partial("/Views/Partials/_LeftMenu.cshtml")
        </div>
        <div class="col-md-9">
            <form class="form-horizontal" action="/Splicer/Save">
                <label>Basic Info</label>
                <div class="panel panel-group panel-info">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="Id">Employment Id:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="Id" placeholder="Enter Employment Id" name="Id">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="TechName">Tech Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="TechName" placeholder="Enter Tech Name" name="TechName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="ForemanName">Foreman Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ForemanName" placeholder="Foreman Name" name="ForemanName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="LeadName">Lead Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="LeadName" placeholder="Lead Name" name="LeadName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="PlateNumber">Vehicle/Truck ID:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="PlateNumber" placeholder="Foreman Name" name="PlateNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label>Today Job Done</label>
                <div class="panel panel-group panel-info">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="Date">Date:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="Date" placeholder="" name="Date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="time">Time:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="Time" placeholder="" name="Time">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="BellNetworkNumber">Bell Network#:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="BellNetworkNumber" placeholder="Bell Network#" name="BellNetworkNumber">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="PartnersName">Partner(s) Name:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="PartnersName" placeholder="Partner(s) Name" name="PartnersName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label>Preparation</label>
                <div class="panel panel-group panel-info">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="EnclosureName">Prepped Enclosure:</label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control" id="EnclosureName" placeholder="Prepped Enclosure" name="EnclosureName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="time">ARB:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ARB" placeholder="ARB" name="ARB">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="time">Enter Cable Id Done (eg, AO,BA, D2)  then  select relevant item:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group wrapper">
                                <table class="col-sm-11" style="text-align:center">
                                    <tr>
                                        <th>No</th>
                                        <th>Cable Id</th>
                                        <th>No of Fibres</th>
                                        <th>Prepped</th>
                                        <th>De- Rebonized</th>
                                        <th>Spliced Ribbon</th>
                                        <th>Spliced Single</th>
                                        <th>Missing</th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                        <td><input type="text" class="form-control" id="EnclosureName" name="EnclosureName"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

