@model TeleconApp.Models.SplicerModel
<style>
    .wrapper {
        position: relative;
        left: 10%; /*move the object to the center of the parent object*/
        top: 50%;
        /*these 5 settings change the base (or registration) point of the wrapper object to it's own center - so we align child center with parent center*/
    }
</style>
<div class="panel panel-body">
    <div class="row">
        <div class="col-md-9">
            <form class="form-horizontal" action="/Splicer/Save">
                @Html.Partial("/Views/Partials/_BasicInfo.cshtml", Model)
                <div class="row">
                    <div class="panel panel-body col-md-4">
                        @Html.Partial("/Views/Partials/_LeftMenu.cshtml")
                    </div>
                </div>
                @Html.Partial("/Views/Partials/_JobDone.cshtml", Model)
                <label>Testing</label>
                <div class="panel panel-group panel-info">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="time">Testing (enter  ARB)  then  select relevant item done:</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group wrapper">
                                <table class="table-responsive" style="text-align:center">
                                    <tr>
                                        <th>No</th>
                                        <th>ARB</th>
                                        <th>GLB</th>
                                        <th>Aerial-Road side</th>
                                        <th>Aerial Backyard</th>
                                        <th>Pedestal</th>
                                        <th>Re-Bern/ faulty</th>
                                    </tr>
                                    @for (int i = 0; i < 7; i++)
                        {
                            <tr>
                                <td width="30"><label>@(i + 1)</label></td>
                                <td width="70"><input maxlength="5" type="text" class="form-control" onkeyup="this.value=this.value.replace(/[^\d]/,'')" id="STARB@(i+1)" name="STARB@(i+1)"></td>
                                <td><input type="radio" class="form-control STARB@(i+1)" id="STGLB@(i+1)" name="SPTesting@(i+1)" disabled></td>
                                <td><input type="radio" class="form-control STARB@(i+1)" id="STAerialRoadSide@(i+1)" name="SPTesting@(i+1)" disabled></td>
                                <td><input type="radio" class="form-control STARB@(i+1)" id="STAerialBackyard@(i+1)" name="SPTesting@(i+1)" disabled></td>
                                <td><input type="radio" class="form-control STARB@(i+1)" id="STPedestal@(i+1)" name="SPTesting@(i+1)" disabled></td>
                                <td><input type="radio" class="form-control STARB@(i+1)" id="STReburn@(i+1)" name="SPTesting@(i+1)" disabled></td>
                            </tr>
            }
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="time">Enter Time:</label>
                                <div class="col-sm-7">
                                    <input id="SplicerEnterTime" type="text" placeholder="02:00" class="form-control input-small">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/Myscript.js"></script>
<script src="~/Scripts/MultiSelectDropDown.js"></script>



