@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Telecon Log</h1>
    <p class="lead">Telecon data collector app!</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
